@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "lobster-regular";
    /* font-weight: 400;
    font-style: normal; */
    src: url("/assets/fonts/Lobster-Regular.ttf") format("truetype");
    /* src: url("{{ asset("assets/fonts/Lobster-Regular.ttf") }}")
        format("truetype"); */
}
